.fire {
    background-color: yellow;
    background-image: url(https://i.ebayimg.com/images/g/9WoAAOSwbbFmLT7D/s-l1200.png);
    background-size: 100% 100%;
    border-radius: 20px;
}

.numero {
    background-color: blue;
    width: fit-content;
}

.ice {
    background-color: lightblue;
    background-image: url(https://i.redd.it/im-working-on-real-life-cardjitsu-cards-and-heres-my-v0-6l0p3xqootka1.png?width=2346&format=png&auto=webp&s=c4088311163d286a799fbd026fd16737a787fef5);
    background-size: 100% 100%;
    border-radius: 20px;
}

.water {
    background-color: blue;
    background-image: url(https://static.wikia.nocookie.net/clubpenguin/images/1/18/Card-Jitsu_Cards_full_220.png/revision/latest/scale-to-width-down/250?cb=20200413114457);
    background-size: 100% 100%;
    border-radius: 20px;
}

button {
    width: 200px;
    height: 250px;
    padding: 75px;
    font-size: larger;
}
