@font-face {
    font-family: ClubPenguin;
    src: url("../Fontes/bumbastika.regular.ttf");
}

@font-face {
    font-family: Burbankbig;
    src: url("../Fontes/BurbankBigCondensed/burbankbigcondensed_black.ttf");
}

/*Fontes que serão usadas no blog :)*/

body {
    background-color: #33aaff;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementos-principais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blue-penguin {
    width: 200px;
    margin-top: 50px;
}

.corpo {
    width: 1200px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

.topo-corpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

#logo {
    width: 300px;
}

#titulo {
    font-size: 40px;
    font-family: ClubPenguin;
    color: 	#036cb7;
}
#titulo h2 {
    margin: 0;
}

.subtitulo {
    padding-left: 40px;
    font-size: 35px;
    font-family: Burbankbig;
    color: #FFA71B;
}

.infos h2 {
    margin: 0;
}

.infos {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.imagem {
    width: 700px;
}

#introducao {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.texto {
    font-size: 25px;
}

#comunidade {
    display: flex;
    flex-direction: column;
}

#parte1-comunidade {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    align-items: center;
}

#parte2-comunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fanarts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-fanart {
    width: 350px;
}

.img-fanart2 {
    width: 200px;
}

#festas {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#parte1-merchandise {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

#parte2-merchandise {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end
}

.imagem-merchandise {
    width: 300px;
}

#imagem-merchandise2 {
    height: 260px;
}

#img-mapa {
    height: 115px;
}

.mapa {
    position: fixed;
    right: 30px;
    bottom: 30px;
}