@font-face {
    font-family: BurbankBig;
    src: url("Fontes/BurbankBigCondensed/burbankbigcondensed_bold.ttf");
}

body {
    background-color: #33aaff;
    background-color: gray;
}

body {
    margin: 0;
}

.pagina-inteira {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo {
    width: 1170px;
    height: 738px;
    background-image: url(Fotos/Fundo-Dojo.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#X {
    position: absolute;
    top: 19px;
    right: 16px;
    width: 38px;
}

#X:hover {
    scale: 1.1;
}

#pergunta {
    position: absolute;
    top: 16px;
    right: 222px;
    width: 730px;
}

#pergunta:hover {
    scale: 1.01;
}

#cartas {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 149px;
    width: 1032px;
    /*background-color: rgba(128, 0, 128, 0.568);*/
    bottom: 20px;
    left: 70px;
}

.cards {
    height: 140px;
    width: 135px;
    position: absolute;
}

.cards-after {
    height: 140px;
    animation-name: slide-top;
    animation-duration: 5s;
}

@keyframes slide-top {

    35% {
        transform: translate(270px, -350px) scale(1.6);
    }

    100% {
        transform: translate(270px, -350px) scale(1.6);
    }
}

.num {
    font-family: BurbankBig;
    font-size: 25px;
    width: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 18px;
}

#carta1 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(Fotos/Cartas/Conjunto-1/FOGO-puffle.png);
}

#carta2 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(Fotos/Cartas/Conjunto-1/NEVE-squidzoid.png);
}

#carta3 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(Fotos/Cartas/Conjunto-1/AGUA-waterslide.png);
}

#carta4 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(Fotos/Cartas/Conjunto-1/AGUA-iceberg.png);
}

#carta5 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(Fotos/Cartas/Conjunto-1/NEVE-guido.png);
}

.cards-sensei {
    position: absolute;
    background-image: url(Fotos/Card-Jitsu_card_back.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 50px;
}

.cards-sensei-after {
    height: 140px;
    animation-name: slide-left-top;
    animation-duration: 5s;
}

@keyframes slide-left-top {
    35% {
        transform: translate(-270px, -350px) scale(3.4);
    }

    100% {
        transform: translate(-270px, -350px) scale(3.4);
    }
}