body {
    background-color: #33aaff;
    background-color: gray;
}

body {
    margin: 0;
}

.pagina-inteira {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo {
    width: 1170px;
    height: 738px;
    background-image: url(Fotos/Fundo-Dojo.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

#cartas {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 149px;
    width: 1032px;
    /*background-color: rgba(128, 0, 128, 0.568);*/
    bottom: 20px;
    left: 70px;
}

.cards {
    height: 140px;
    position: absolute;
}

.cards-after {
    height: 140px;
    animation-name: slide-top;
    animation-duration: 5s;
}

@keyframes slide-top {

    35% {
        transform: translate(270px, -350px) scale(1.5);
    }

    100% {
        transform: translate(270px, -350px) scale(1.5);
    }
}